.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

*.code-workspace
*.zip
.unused_renders
.factorio_free_graphics_for_modders
.cursorrules
.cursor/
.DS_Store

# Experimental/test files
prototypes/planet/test_sulfur_pits.lua
prototypes/planet/test_sulfur_planet.lua
docs/